<article class="article-item {% if article.image %} has-image{% endif %}" data-article-item>

  {% if article.image %}
    <a href="{{ article.url }}" class="article-item-image-link">
      <figure class="article-item-image"
        role="img"
        aria-label="{{ article.image.alt | escape  }}"
        style="background-image: url({{ article.image | img_url: '600x' }})">
        <img
          src="{{ article.image | img_url: '600x' }}"
          alt="{{ article.image.alt | escape }}">
      </figure>
    </a>
  {% endif %}

  <div class="article-item-content-wrapper">
    <div class="article-item-content">

      <h1 class="article-item-title"><a href="{{ article.url }}">{{ article.title | truncatewords: 10 }}</a></h1>

      {% if section.settings.show_author %}
        <span class="article-author">{{ 'blogs.article_item.posted_by' | t: author: article.author }}</span>
      {% endif %}

      <span class="article-date">{{ article.published_at | date: format: 'short_month' }}</span>

      <div class="article-item-body rte">
        {% if section.settings.show_excerpt %}
          {% if article.excerpt != blank %}
            {{ article.excerpt }}
          {% else %}
            <p>{%- include 'truncate-words', truncate_text: article.excerpt_or_content, truncate_length: 20 -%}</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

</article>
