{% comment %}
  @param collection
  @param first_product
{% endcomment %}

{% assign collection_image_src = false %}
{% assign collection_image_alt = false %}

{%- if collection.image -%}
  {% capture collection_image_src %}{{ collection | img_url: 'x600' }}{% endcapture %}
  {% capture collection_image_alt %}{{ collection.image.alt | escape }}{% endcapture %}
{%- elsif collection.products.first.featured_image and first_product -%}
  {% capture collection_image_src %}{{ collection.products.first | img_url: '1024x1024' }}{% endcapture %}
  {% capture collection_image_alt %}{{ collection.title | escape }}{% endcapture %}
{%- endif -%}
