{%- capture collection_color_classes -%}
  {% comment %}
    Supply a collection or collection handle, and get back the classname
    associated with that particular collection / color pairing.

    Examples:
    {% include 'collection-color' %}
    {% include 'collection-color' with 'frontpage' %}
  {% endcomment %}

  {% if collection_color %}
    {% capture handle %}{{ collection_color }}{% endcapture %}
  {% else %}
    {% assign handle = collection.handle %}
  {% endif %}

  {%- for i in (1..12) -%}
    {% capture collection_number %}collection_{{i}}{% endcapture %}

    {%- if settings[collection_number] == handle -%}
      collection-colored-{{i}}
      {% break %}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{{- collection_color_classes | strip_newlines -}}
