{% comment %}
  @param link_collection {Optional}
         Pass as false to create a non-linkable collection block

  @param first_product {Optional}
         If true, the first product image will be used if no collection image is
         available.

  @param block_tag {Optional}
         Uses a string to determine the outer DOM tag
         Defaults to: 'article'

  @param show_description {Optional}
         If true, show the collection description.
{% endcomment %}

{% if link_collection == blank %}
  {% assign link_collection = true %}
{% endif %}

{% if block_tag == blank %}
  {% assign block_tag = 'article' %}
{% endif %}

{% if link_collection %}
  {% assign item_tag = 'a' %}
{% else %}
  {% assign item_tag = 'div' %}
{% endif %}

{%- include 'collection-image', first_product: first_product -%}

{%- capture color_class -%}{%- include 'collection-color' -%}{%- endcapture -%}

{% assign show_description = false %}
{%- if collection.description != blank and show_description -%}
  {% assign show_description = true %}
{%- endif -%}

<{{ block_tag }} class="collection-item {{ color_class | strip_newlines }}">

  <{{ item_tag }}
    class="collection-item-wrapper"
    {% if link_collection %}href="{{ collection.url }}"{% endif %}>

    <div class="collection-item-content {%- include 'collection-color' -%}">
      <div class="collection-item-details">
        <h1 class="collection-item-title">
          {{ collection.title }}
        </h1>

        {% if show_description %}
          <div class="collection-item-description rte">
            {{ collection.description }}
          </div>
        {% endif %}
      </div>
    </div>

    {%- if collection_image_src -%}
      <div class="collection-item-image" style="background-image: url({{ collection_image_src }});">
        <img
          alt="{{ collection_image_alt }}"
          src="{{ collection_image_src }}">
      </div>
    {%- endif -%}

  </{{ item_tag }}>

</{{ block_tag }}>
