{% capture year %}
  {{ 'now' | date: '%Y' }}
{% endcapture %}

<p class="footer-copyright" role="contentinfo">
  <span>
    {{ 'layout.footer.copyright_html' | t: year: year, shop_name: shop.name }}
  </span>
  <span class="footer-copyright-attribution">
    Vogue theme by <a href="http://pixelunion.net">Pixel Union</a>.
    <br>
    {{ powered_by_link }}
  </span>
</p>
