<!-- Scripts -->
{{ 'jquery-1.11.1.min.js' | asset_url | script_tag }}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}

<!--[if IE 9 ]>
{{ 'jquery.placeholder.min.js' | asset_url | script_tag }}
<script>jQuery(function($){$('input, textarea').placeholder();});</script>
<![endif]-->

{% if template contains 'cart' %}
  {{ '/services/javascripts/countries.js' | script_tag }}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'jquery.cart.min.js' | asset_url | script_tag }}
{% endif %}

{% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
{% endif %}

{% if settings.enable_currency_switcher %}
  {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
  {{ "jquery.currencies.min.js" | asset_url | script_tag }}
{% endif %}

{% if template contains 'password' %}
  {{ 'password.js' | asset_url | script_tag }}
{% endif %}

{% if template contains 'gift_card' %}
  {{ 'vendor/qrcode.js' | shopify_asset_url | script_tag }}
  {{ 'giftcard.js' | asset_url | script_tag }}
{% endif %}

{{ 'vogue.js' | asset_url | script_tag }}
