{% comment %}
  @param logo Image
  @param hide_nav
         If true, hide the `Menu` and `Cart` links
{% endcomment %}

<div class="main-header" data-main-header>
  {% unless hide_nav %}
    <div class="main-header-item main-header-menu-item">
      <a
        class="main-header-link"
        href="#"
        title="{{ 'layout.navigation.menu' | t }}"
        data-overnav-open>
        {%- include 'icon-menu' -%}
      </a>
    </div>
  {% endunless %}

  <div class="main-header-logo">
    {% include 'header-logo', logo: logo %}
  </div>

  {% unless hide_nav %}
    <div class="main-header-item main-header-cart-item">
      <a
        class="main-header-link {% if cart.item_count > 0 %}cart-has-contents{% endif %}"
        href="/cart"
        title="{{ 'layout.navigation.cart' | t }}">
        {%- include 'icon-cart' -%}
      </a>
    </div>
  {% endunless %}

</div>
