{% assign wrapper_class = 'lookbook-image-wrapper' %}

{% unless hide_link %}
  <a class="{{ wrapper_class }}" href="{{ product.url | within: collection }}">
{% else %}
  <div class="{{ wrapper_class }}">
{% endunless %}
  <img
    class="lookbook-image"
    data-lookbook-image
    src="{{ image | product_img_url: size }}"
    alt="{{ alt | escape }}">
{% unless hide_link %}
  </a>
{% else %}
  </div>
{% endunless %}
