{% assign class_name = 'lookbook-layout-3' %}
{% if is_alt %}
  {% capture class_name %}{{ class_name }} lookbook-layout-3-alt{% endcapture %}
{% endif %}

<article class="lookbook-layout {{ class_name }}">
  <div class="lookbook-slots">
    <div class="lookbook-slot lookbook-slot-1">
      {% include 'lookbook-image', image: product.images[0], alt: product.images[0].alt, size: 'master' %}
    </div>

    <div class="lookbook-slot lookbook-slot-2">
      {% include 'lookbook-image', image: product.images[1], alt: product.images[1].alt, size: 'master' %}

      {% include 'lookbook-image', image: product.images[2], alt: product.images[2].alt, size: 'master' %}
    </div>
  </div>

  {% include 'lookbook-label', truncate_length: 60 %}
</article>
