<article class="lookbook-layout lookbook-layout-slider">
  <div class="lookbook-slots">

    <div class="lookbook-slider" data-lookbook-slider>
      {% for image in product.images %}
        <div class="lookbook-slide lookbook-slide-{{ forloop.index }}">
          {% include 'lookbook-image', image: image, alt: image.alt, size: 'master', hide_link: true %}
        </div>
      {% endfor %}
    </div>

    {% include 'lookbook-label', truncate_length: 60 %}
  </div>
</article>
