<article class="lookbook-layout lookbook-layout-5">
  <div class="lookbook-slots">
    <div class="lookbook-slot lookbook-slot-1">
      {% include 'lookbook-image', image: product.images[0], alt: product.images[0].alt, size: 'master' %}

      {% include 'lookbook-image', image: product.images[1], alt: product.images[1].alt, size: 'master' %}
    </div>

    <div class="lookbook-slot lookbook-slot-2">
      {% include 'lookbook-image', image: product.images[2], alt: product.images[2].alt, size: 'master' %}

      {% include 'lookbook-image', image: product.images[3], alt: product.images[3].alt, size: 'master' %}
    </div>

    <div class="lookbook-slot lookbook-slot-3">
      {% include 'lookbook-image', image: product.images[4], alt: product.images[4].alt, size: 'master' %}

      {% include 'lookbook-label', truncate_length: 60 %}
    </div>
  </div>
</article>
