{% comment %}
  @param menu LinkedList
  @param depth Number
  @param is_submenu Boolean
{% endcomment %}

{% if linklists[menu] %}
  <ul class="navigation-menu navigation-primary-list">
    {% for link in linklists[menu].links %}
      {% assign submenu = link.title | handle %}
      {% assign d = depth | minus: 1 %}
      {% if d > 0 and linklists[submenu] and linklists[submenu].links.size > 0 %}
        <li class="navigation-primary-item navigation-parent-item">
          <a class="navigation-parent-link" href="{{ link.url }}">{{ link.title }}</a>
          {% include 'main-navigation-submenu', menu: submenu, depth: d %}
        </li>
      {% else %}
        <li class="navigation-primary-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
