<aside class="password-newsletter-form">
  <h2 class="password-page-subtitle">{{ 'general.password_page.signup_form_heading' | t }}</h2>

  {% form 'customer' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
    {% else %}
      <input type="hidden" name="contact[tags]" value="prospect, password page">
      <label for="storefront-email" class="input-label input-label-hidden">
        {{ 'general.password_page.signup_form_email_label' | t }}
      </label>
      <div class="input-wrapper inline-input-button-wrapper">
        <input
          type="submit"
          class="button"
          value="{{ 'general.password_page.signup_form_submit' | t }}">
        <div class="inline-input-wrapper">
          <input
            id="storefront-email"
            class="input-field"
            type="text"
            name="contact[email]"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
            data-newsletter-input
            autofocus>
        </div>
      </div>
    {% endif %}
  {% endform %}
</aside>
