<div class="password-login-form" data-password-modal>
  <h2 class="password-page-subtitle"><label for="storefront-password">{{ 'general.password_page.login_form_heading' | t }}</label></h2>
  <a
    class="password-modal-close"
    href="#"
    data-password-modal-close>
    {{ 'general.general.close' | t }}
  </a>

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <div class="input-wrapper inline-input-button-wrapper" {% if form.errors %}data-has-errors{% endif %}>
      <input
        type="submit"
        class="button"
        value="{{ 'general.password_page.login_form_submit' | t }}">
      <div class="inline-input-wrapper">
        <input 
          id="storefront-password" 
          class="input-field" 
          type="password" 
          name="password" 
          placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
          data-password-input>
      </div>
    </div>
  {% endform %}

  <p class="password-modal-admin">{{ 'general.password_page.admin_link_html' | t }}</p>
</div>

