{% comment %}

  @param item Product
         The product to display.

  @param placeholder String
         If set, use a Shopify placeholder SVG as the product image.

  @param title String
         The product title to use. Only used if no `item` is passed.

{% endcomment %}

{% assign image_size = '1024x1024' %}

{% if placeholder %}
  {% capture image_url %}{%- include 'placeholder_svg_uri', placeholder: placeholder -%}{% endcapture %}
{% else %}
  {% assign image_url = item | img_url: image_size %}
{% endif %}

<article class="product-list-item" id="product-list-item-{{ item.id }}">
  {% include 'product-badge' %}

  <a href="{{ item.url | within: collection }}">
    <figure class="product-list-item-thumbnail"
      style="background-image: url('{{ image_url }}');">
      <img
        src="{{ image_url }}"
        {% unless placeholder %}alt="{{ item.featured_image.alt | escape }}"{% endunless %}
      >
    </figure>

    <div class="product-list-item-details {% if item.price %}has-price{% endif %}">
      <h1 class="product-list-item-title">
        {% if item %}
          {{ item.title }}
        {% else %}
          {{ title }}
        {% endif %}

        {% if item.available %}
          <span class="product-list-item-price">
            - {% if item.price_varies %}{{ 'products.product.from' | t }}{% endif %}
            <span data-money>{{ item.price_min | money }}</span>
          </span>
        {% endif %}
      </h1>
    </div>
  </a>
</article>
