<div class="product-gallery">
  {% if product.images.size >= 1 %}
    {% for image in product.images %}
      <div class="product-image">
        <img
          alt="{{ image.alt | escape }}"
          src="{{ image | img_url: '2048x2048' }}"
          srcset="
            {{ image | img_url: '2048x2048' }} 2048w,
            {{ image | img_url: '1700x1700' }} 1700w,
            {{ image | img_url: '1300x1300' }} 1300w,
            {{ image | img_url: '900x900' }} 900w,
          "
          sizes="
            (min-width: 720px) calc(100vw - 350px),
            100vw
          "
        >
      </div>
    {% endfor %}
  {% else %}
    <div class="product-image product-image-none">
      <img src="{{ 'no-image.svg' | asset_url }}">
    </div>
  {% endif %}
</div>
