<div class="product-label">
  <span class="product-label-title">{{ product.title }}</span>
  <span class="product-label-price">
    {% if product.available %}
      {% if product.price_varies %}
        {% if product.price_varies %}{{ 'products.product.from' | t }}{% endif %}
        <span data-money>{{ product.price_min | money }}</span>
      {% else %}
        <span data-money>
          {% if product.price_min %}
            {{ product.price_min | money }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        </span>
      {% endif %}
    {% endif %}
  </span>
</div>
