{% assign has_variants = false %}
{% if product.available and product.variants.size > 1 %}
  {% assign has_variants = true %}
{% endif %}

<form
  class="product-form {% if has_variants %}product-form-has-variants{% endif %}"
  action="/cart/add"
  method="post">

  <div class="product-options">
    <select
      name="id"
      class="product-variants"
      data-product-variants
      data-product="{{ product | json | escape }}">

      {% for variant in product.variants %}
        <option
          {% if variant == product.selected_or_first_available_variant %}selected{% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money }}
        </option>
      {% endfor %}
    </select>

    {% if has_variants %}
      {% for option in product.options %}
        {% include 'product-option', current_option: option, selected_variant: variant %}
      {% endfor %}
    {% endif %}
  </div>

  <a
    href="#"
    data-product-extended-open
    class="button product-add product-add-select">
    {{ 'products.product.select_options' | t }}
  </a>

  <div class="product-add">
    <input
      type="submit"
      class="button product-add-available"
      value="{{ 'products.product.add_to_cart' | t }}"/>

    <input
      type="submit"
      class="button product-add-soldout"
      disabled
      value="{{ 'products.product.sold_out' | t }}"/>

    <input
      type="button"
      class="button product-add-unavailable"
      disabled
      value="{{ 'products.product.unavailable' | t }}"/>
  </div>
</form>
