{% comment %}
  @param show_pagination
         If true, show the product pagination.

  @param product
         The product to render.
{% endcomment %}

<article class="product" data-product-id="{{ product.id }}">
  {% if show_pagination %}
    {% include 'product-pagination' %}
  {% endif %}

  {% if product.available %}

  {% else %}
    <a href="https://www.fontsmith.com/subscribe" target="_blank" class="SoldOut-roundel">
      <span>Sold out!</span>
      Click here to sign up to our newsletter to be alerted about issue #2
    </a>
  {% endif %}

  <div class="product-body">
    {% include 'product-gallery' %}
    {% include 'product-details' %}
  </div>
</article>
