{% comment %}

  Facebook and Pinterest Open Graph

  Use the Facebook Open Graph Debugger for validation (and cache clearing)
    - http://developers.facebook.com/tools/debug

  Validate your Pinterest rich pins
    - https://developers.pinterest.com/rich_pins/validator/

{% endcomment %}
{%- capture default_description -%}
  {%- if page_description != blank -%}
    {{- page_description | escape -}}
  {%- elsif shop.description != blank -%}
    {{- shop.description | escape -}}
  {%- else -%}
    {{- shop.name | escape -}}
  {%- endif -%}
{%- endcapture -%}

<meta property="og:site_name" content="{{ shop.name }}">

{% if template == 'index' %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:description" content="{{ default_description }}">
{% elsif template contains 'product' %}
  <meta property="og:type" content="product">
  <meta property="og:title" content="{{ product.title | strip_html | escape }}">
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:description" content="{{ product.description | strip_html | escape }}">
  {% for image in product.images reversed limit: 3 %}
    <meta property="og:image" content="http:{{ image | img_url: '600x600' }}">
    <meta property="og:image:secure_url" content="https:{{ image | img_url: '600x600' }}">
  {% endfor %}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | stip_html | escape }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">
{% elsif template contains 'article' %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ article.title | strip_html | escape }}">
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:description" content="{{ article.excerpt_or_content | strip_html | escape }}">
  {% if article.image %}
    <meta property="og:image" content="http:{{ article | img_url: '1024x1024' }}">
    <meta property="og:image:secure_url" content="https:{{ article | img_url: '1024x1024' }}">
  {% endif %}
{% elsif template == 'password' %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ shop.name | escape }}">
  <meta property="og:url" content="{{ shop.url }}">
  <meta property="og:description" content="{{ default_description }}">
  {% if settings.use_logo %}
    <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
    <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
  {% endif %}
{% else %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page_title | escape }}">
  <meta property="og:url" content="{{ canonical_url }}">
  <meta property="og:description" content="{{ default_description }}">
  {% if settings.use_logo %}
    <meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
    <meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
  {% endif %}
{% endif %}

{% comment %}
  Twitter Card

  Cards must be approved by Twitter to be activated
    - https://dev.twitter.com/docs/cards/validation/validator

{% endcomment %}
{% if template contains 'article' and article.image %}
  <meta name="twitter:card" content="summary_large_image">
{% else %}
  <meta name="twitter:card" content="summary">
{% endif %}

{% if settings.social_twitter_url != blank %}
  <meta name="twitter:site" content="@{{ settings.social_twitter_url | split: 'twitter.com/' | last }}">
{% endif %}

{% if template contains 'product' %}
  <meta name="twitter:title" content="{{ product.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ product.description | strip_html | truncate: 200 | escape }}">
  <meta name="twitter:image" content="https:{{ product | img_url: '480x480' }}">
  <meta name="twitter:image:width" content="480">
  <meta name="twitter:image:height" content="480">
{% elsif template contains 'article' %}
  <meta name="twitter:title" content="{{ article.title | strip_html | escape }}">
  <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncate: 200 | escape }}">
  {% if article.image %}
    <meta property="twitter:image" content="https:{{ article | img_url: '1024x1024' }}">
  {% endif %}
{% else %}
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ default_description }}">
  {% if settings.use_logo %}
    <meta property="twitter:image" content="https:{{ 'logo.png' | asset_url }}">
  {% endif %}
{% endif %}
