{%- capture svg_sprite -%}
  <div class="svg-sprite" style="width:0; height:0; visibility:hidden; position: absolute;">
    <svg xmlns="http://www.w3.org/2000/svg">
      
      
        <symbol id="icon-arrow-left" viewBox="0 0 19 12">
          
           <path fill-rule="evenodd" d="M18.5 5.933a.487.487 0 0 1-.48.493H2.075L6.2 10.66a.498.498 0 0 1 0 .697.472.472 0 0 1-.68 0L.64 6.348a.502.502 0 0 1 0-.698L5.52.644a.472.472 0 0 1 .68 0 .502.502 0 0 1 0 .697l-3.994 4.1H18.02c.265 0 .48.22.48.493z"/> 
        </symbol>
      
        <symbol id="icon-arrow-right" viewBox="0 0 19 12">
          
           <path fill-rule="evenodd" d="M.98 5.574h15.944L12.8 1.34a.498.498 0 0 1-.14-.347c0-.126.046-.252.14-.35a.472.472 0 0 1 .68 0l4.88 5.008a.502.502 0 0 1 0 .698l-4.88 5.008a.472.472 0 0 1-.68 0 .502.502 0 0 1 0-.697l3.994-4.1H.98a.487.487 0 0 1-.48-.493c0-.272.215-.493.48-.493z"/> 
        </symbol>
      
        <symbol id="icon-disclose" viewBox="0 -1 9 6">
          
           <polygon fill="currentColor" points="9 0.90909088 4.5 5 2.50495938e-16 0.90909088 0.999999961 -8.8817842e-16 4.5 3.18181824 8.00000004 8.8817842e-16 9 0.90909088"/> 
        </symbol>
      
        <symbol id="icon-flickity-arrow" viewBox="0 0 100 100">
          
          <path fill-rule="evenodd" d="M93.856 49.68c0 1.31-1.037 2.374-2.315 2.374H14.735l19.87 20.388a2.4 2.4 0 0 1 .678 1.68 2.4 2.4 0 0 1-.677 1.678 2.274 2.274 0 0 1-3.274 0L7.823 51.68a2.418 2.418 0 0 1 0-3.358L31.332 24.2a2.274 2.274 0 0 1 3.274 0 2.418 2.418 0 0 1 0 3.358L15.36 47.304h76.18c1.28 0 2.316 1.064 2.316 2.375z"/>
        </symbol>
      
        <symbol id="icon-social-email" viewBox="0 0 32 32">
          
           <path d="M9.362 14.686L0 7.491v16.553l9.362-9.358zM31.918 4.149H.11L16 16.355 31.918 4.149zM20.457 16.366L16 19.783l-4.464-3.429L.039 27.851h31.904L20.457 16.365zm2.172-1.669L32 24.068V7.508l-9.371 7.191z"/> 
        </symbol>
      
        <symbol id="icon-social-facebook" viewBox="0 0 32 32">
          
           <path d="M18.637 17.53h4.735L24 12.015h-5.363l.009-4.292c0-1.437.146-2.208 2.362-2.208h2.957V0h-4.733c-5.687 0-7.69 2.673-7.69 7.174v4.843H7.999v5.511h3.545V32h7.093V17.53z"/> 
        </symbol>
      
        <symbol id="icon-social-fancy" viewBox="0 0 32 32">
          
           <path d="M27.104 9.334q0-3.875-3.271-6.603T15.979.002 8.146 2.731t-3.25 6.603v12.458q0 .75.687 1.313t1.646.562h6.041v6.041q0 .959.792 1.624t1.916.667 1.937-.667.813-1.624v-6.041h6.082q.959 0 1.624-.562t.667-1.313V9.334z"/> 
        </symbol>
      
        <symbol id="icon-social-google" viewBox="0 0 32 32">
          
           <path d="M28.418 14.079v-3.763H25.95v3.761h-3.661v2.592h3.661v3.845h2.468v-3.845H32v-2.592h-3.582zm-18.228-.335v4.263h5.491c-.87 2.756-2.231 4.263-5.491 4.263-3.345 0-5.972-2.842-5.972-6.353 0-3.51 2.627-6.351 5.975-6.351 1.752 0 2.946.665 3.981 1.582.875-.918.794-1.002 2.864-3.09a9.77 9.77 0 0 0-6.812-2.753h-.038C4.533 5.305 0 10.068 0 16.001s4.538 10.696 10.19 10.696c8.437 0 10.506-7.687 9.791-12.869h-9.794v-.084z"/> 
        </symbol>
      
        <symbol id="icon-social-instagram" viewBox="0 0 32 32">
          
           <path d="M31.233 29.231c-.242 1.314-1.263 2.405-2.513 2.681-.157.037-.314.06-.475.088H3.754c-.065-.009-.131-.025-.196-.032-1.349-.182-2.478-1.259-2.778-2.642-.035-.161-.058-.327-.085-.489V3.163c.007-.06.021-.118.03-.175C.919 1.549 1.922.406 3.277.083 3.42.046 3.572.028 3.72 0h24.56l.166.035c1.392.196 2.524 1.31 2.79 2.744.028.138.046.281.069.42v25.605c-.023.143-.041.286-.069.431zM4.008 27.269c0 .68.563 1.268 1.215 1.268H26.77c.659 0 1.222-.588 1.222-1.273V12.979h-2.928c.415 1.379.539 2.783.376 4.21a10.071 10.071 0 0 1-1.344 4.035 9.77 9.77 0 0 1-2.735 2.995 9.128 9.128 0 0 1-5.363 1.731 9.13 9.13 0 0 1-4.687-1.287 9.573 9.573 0 0 1-3.629-3.816c-1.321-2.543-1.524-5.157-.767-7.868h-2.91v14.294zm11.85-4.788c3.465.081 6.271-2.813 6.34-6.335.076-3.631-2.725-6.631-6.202-6.628-3.389 0-6.151 2.854-6.202 6.386-.046 3.629 2.732 6.506 6.063 6.58zM27.99 6.933V3.901l.001-.039c0-.692-.556-1.253-1.245-1.263h-2.89a1.268 1.268 0 0 0-1.245 1.268v.037c0 1.001 0 2.004.007 3.005 0 .15.028.304.074.445.173.53.639.86 1.21.862h1.397c.503-.007 1.008 0 1.512-.009.646-.018 1.176-.599 1.176-1.277z"/> 
        </symbol>
      
        <symbol id="icon-social-pinterest" viewBox="0 0 32 32">
          
           <path d="M4.308 11.481c0 3.161 1.131 5.973 3.554 7.022.397.171.753.006.868-.461.079-.32.269-1.135.354-1.472.113-.463.068-.625-.252-1.024-.7-.875-1.146-2.005-1.146-3.605 0-4.65 3.281-8.806 8.541-8.806 4.657 0 7.217 3.016 7.217 7.044 0 5.299-2.212 9.77-5.499 9.77-1.813 0-3.174-1.587-2.739-3.541.525-2.325 1.536-4.838 1.536-6.519 0-1.504-.764-2.758-2.342-2.758-1.856 0-3.345 2.033-3.345 4.757 0 1.734.555 2.908.555 2.908L9.377 24.809c-.661 2.976-.1 6.619-.051 6.986a.226.226 0 1 0 .411.107c.171-.235 2.381-3.128 3.132-6.016.213-.817 1.22-5.051 1.22-5.051.604 1.216 2.368 2.291 4.239 2.291 5.578 0 9.365-5.384 9.365-12.594 0-5.455-4.362-10.531-10.986-10.531-8.243 0-12.398 6.261-12.398 11.481z"/> 
        </symbol>
      
        <symbol id="icon-social-twitter" viewBox="0 0 32 32">
          
           <path d="M32 5.437a12.172 12.172 0 0 1-3.7 1.094 7.134 7.134 0 0 0 2.804-3.81 13.477 13.477 0 0 1-4.148 1.647c-1.196-1.36-2.899-2.208-4.783-2.208-3.617 0-6.552 3.129-6.552 6.989 0 .547.059 1.081.168 1.591-5.443-.293-10.272-3.073-13.501-7.301a7.222 7.222 0 0 0-.889 3.495v.02c0 2.422 1.158 4.565 2.915 5.816a6.194 6.194 0 0 1-2.992-.891l.028.105c-.002 3.386 2.251 6.212 5.251 6.852a6.04 6.04 0 0 1-1.72.244c-.439 0-.867-.046-1.279-.133.874 2.784 3.294 4.804 6.161 4.861a12.569 12.569 0 0 1-8.16 2.988c-.543 0-1.078-.034-1.603-.101a17.87 17.87 0 0 0 10.101 3.145c12.058 0 18.645-10.647 18.645-19.883 0-.302-.006-.603-.02-.903a13.933 13.933 0 0 0 3.237-3.56z"/> 
        </symbol>
      
        <symbol id="icon-social-vimeo" viewBox="0 0 32 32">
          
           <path d="M25.321 21.407c-4.329 5.636-7.99 8.453-10.984 8.453-1.857 0-3.426-1.716-4.707-5.149l-2.569-9.433c-.953-3.43-1.975-5.149-3.065-5.149-.239 0-1.072.504-2.501 1.504L0 9.695a402.364 402.364 0 0 0 4.645-4.149C6.741 3.729 8.312 2.778 9.36 2.681c2.477-.239 4.001 1.458 4.575 5.09.618 3.917 1.044 6.355 1.287 7.308.712 3.251 1.499 4.873 2.354 4.873.669 0 1.67-1.052 3.003-3.163 1.335-2.107 2.049-3.711 2.146-4.814.189-1.82-.524-2.731-2.144-2.731-.759 0-1.545.173-2.354.52C19.79 4.63 22.78 2.138 27.192 2.28c3.266.097 4.809 2.221 4.621 6.377-.143 3.104-2.306 7.355-6.491 12.749z"/> 
        </symbol>
      
        <symbol id="icon-social-youtube" viewBox="0 0 32 32">
          
           <path d="M31.68 9.607s-.312-2.206-1.27-3.176c-1.22-1.274-2.58-1.28-3.21-1.356-4.474-.324-11.19-.324-11.19-.324h-.014s-6.722 0-11.196.324c-.628.076-1.992.08-3.21 1.356C.632 7.401.32 9.607.32 9.607S0 12.195 0 14.783v2.428c0 2.588.32 5.176.32 5.176s.312 2.204 1.272 3.176c1.22 1.274 2.816 1.234 3.528 1.366 2.56.244 10.88.32 10.88.32s6.724-.01 11.2-.334c.628-.076 1.992-.08 3.21-1.356.96-.97 1.27-3.176 1.27-3.176s.32-2.586.32-5.172v-2.43c0-2.59-.32-5.18-.32-5.18v.004zM12.7 20.151l-.004-8.988 8.648 4.51-8.644 4.478z"/> 
        </symbol>
      
    </svg>
  </div>
{%- endcapture -%}
{{ svg_sprite | strip_newlines }}