<!doctype html>
<!--[if IE 9 ]><html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}
  {% include 'favicon' %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />

  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

  {{ content_for_header }}

  {% include 'social-meta' %}
  {% include 'fonts' %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ "fonts.css"  | asset_url | stylesheet_tag }}

  <!-- Theme object -->
  {% include 'theme-options' %}
</head>

<body class="{% include 'body-classes' %}">

  {% include 'svg-sprite' %}
  {% section 'header' %}

  <div class="content-wrapper">
    <div class="main-content">
      {{ content_for_layout }}
    </div>

    <div class="content-overlay"></div>
  </div>

  {% include 'footer-scripts' %}

  {% unless settings.limit == 'No limit' %}
  {{ 'jquery.limit.min.js' | asset_url | script_tag }}
  <script>
  Shopify.Cart.setProductHandle('{{ product.handle }}');
  Shopify.Cart.limit( {
      limitPer: '{{ settings.limit_per }}',
      limitQuantity: {{ settings.limit_quantity }}{% if settings.limit == 'Enabled for products listed' %},
      limitProductHandles: jQuery.trim("{{ settings.limit_product_handles }}").split(/[\s,;]+/){% endif %}{% if settings.limit_per == 'cart' and settings.limit_quantity == '1' %},
      limitSkipCartPage: {% if settings.limit_skip_cart_page %}true{% else %}false{% endif %}{% endif %}
      } );
  </script>
  {% endunless %}
</body>
</html>
