{% if section.settings.navigation_style == 'sidebar_stays' %}
  {% assign has_sidebar = true %}
{% else %}
  {% assign has_sidebar = false %}
{% endif %}

{% if template contains 'gift_card' or template contains 'password' %}
  {% assign has_sidebar = false %}
  {% assign hide_nav = true %}
{% endif %}

{% if has_sidebar %}
  <script>
    document.body.className += ' sidebar-always-visible';
    if (window.Theme) Theme.hasSidebar = true;
  </script>
{% else %}
  <script>
    document.body.className += ' sidebar-always-hidden';
    if (window.Theme) Theme.hasSidebar = false;
  </script>
{% endif %}

{% capture primary_menu %}{{ section.settings['sidebar_menu_1'] }}{% endcapture %}
{% capture secondary_menu %}{{ section.settings['sidebar_menu_2'] }}{% endcapture %}

<div data-header-sidebar="{{ has_sidebar }}">

  {% if has_sidebar %}
    {% if template contains 'product' %}
      {% assign sidebar_class = 'product-main-sidebar' %}
    {% else %}
      {% assign sidebar_class = 'main-sidebar' %}
    {% endif %}

    <div class="{{ sidebar_class }}" role="banner">
      <header class="main-sidebar-header" data-main-sidebar-header>
        <div class="main-sidebar-logo">
          {% include 'header-logo', logo: section.settings.logo %}
        </div>

        <div class="main-sidebar-tools">
          <ul class="main-sidebar-tool-list">
            {% if template contains 'product' %}
              <li class="main-sidebar-tool-item">
                <a data-overnav-open href="#">{{ 'layout.navigation.menu' | t }}</a>
              </li>
            {% endif %}

            <li class="main-sidebar-tool-item">
              <a href="/cart">{% include 'cart-count' %}</a>
            </li>
          </ul>
        </div>
      </header>

      {% unless template contains 'product' %}
        {% include 'main-navigation',
          show_payment_icons: section.settings.enable_payment_icons,
          social_settings: section.settings
        %}
      {% endunless %}
    </div>
  {% endif %}

  {% include 'header',
    logo: section.settings.logo,
    hide_nav: hide_nav
  %}

  <div class="overnav" data-overnav>
    <header class="main-sidebar-header" data-main-sidebar-header>
      <div class="main-sidebar-tools">
        <ul class="main-sidebar-tool-list">
          <li class="main-sidebar-tool-item main-sidebar-navigation-toggle">
            <a data-overnav-close href="#">{{ 'general.general.close' | t }}</a>
          </li>
        </ul>
      </div>
    </header>

    {% include 'main-navigation',
      show_payment_icons: section.settings.enable_payment_icons
    %}
  </div>

  <div class="overnav-overlay" data-overnav-overlay></div>

</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "240 x 50px .png recommended"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "sidebar_menu_1",
      "label": "Main menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "sidebar_menu_2",
      "label": "Secondary menu",
      "default": "footer"
    },
    {
      "type": "select",
      "id": "navigation_style",
      "label": "Navigation style",
      "options": [
        {
          "label": "Compact header",
          "value": "sidebar_hides"
        },
        {
          "label": "Fixed sidebar",
          "value": "sidebar_stays"
        }
      ],
      "default": "sidebar_hides",
      "info": "Compact header is automatically used on mobile."
    },
    {
      "type": "header",
      "content": "Payment icons"
    },
    {
      "type": "checkbox",
      "id": "enable_payment_icons",
      "label": "Enable payment icons"
    }
  ]
}

{% endschema %}