{% assign heading = section.settings.heading | escape %}
{% assign content = section.settings.content %}
{% assign link_url = section.settings.link_url %}
{% assign link_text = section.settings.link_text | escape %}

{% if heading == blank and content == blank and link_url == blank and link_text == blank and section.settings.image == null %}
  {% assign section_onboarding = true %}
{% endif %}

{% if section_onboarding %}
  {% capture section_image %}{%- include 'placeholder_svg_uri', placeholder: 'lifestyle-1' -%}{% endcapture %}
  {% assign has_image = true %}
  {% assign heading = 'onboarding.title' | t %}
  {% assign content = 'onboarding.no_content' | t %}
{% elsif section.settings.image %}
  {% assign section_image = section.settings.image | img_url: '2048x2048' %}
  {% assign has_image = true %}
{% endif %}

{% if heading != blank or content != blank or link_url != blank %}
  {% assign has_content_box = true %}
{% endif %}

{%- capture section_classes -%}
  home-section
  home-section-height-{{ section.settings.section_height }}
  home-image-crop-{{ section.settings.image_position }}
  {% if section_onboarding %}home-section-onboarding{% endif %}
  {% unless has_image %}home-section-content-only{% endunless %}
{%- endcapture -%}

<section
  class="{{ section_classes | strip_newlines }}"
  data-home-section
  {% if has_image %}
    style="background-image: url('{{ section_image }}')"
  {% endif %}>

  {% if link_text == blank and link_url != blank %}
    <a class="home-section-content-link" href="{{ link_url }}">
  {% endif %}

  {% if has_image %}
    <img class="home-section-image" src="{{ section_image }}" alt="{{ section.settings.image.alt | escape }}">
  {% endif %}

  {% if has_content_box %}
    <div class="home-section-content" data-home-section-content>
      {% if heading != blank %}
        <h1 class="home-section-title">{{ heading }}</h1>
      {% endif %}

      {% if content != blank %}
        <div class="home-section-text rte">{{ content }}</div>
      {% endif %}

      {% if link_text != blank and link_url != blank %}
        <a class="home-section-link" href="{{ link_url }}">
          {{ link_text }}
          {%- include 'icon-arrow-right' -%}
        </a>
      {% endif %}
    </div>
  {% endif %}

  {% if link_text == blank and link_url != blank %}
    </a>
  {% endif %}
</section>

{% schema %}
{
  "name": "Rich text",
  "class": "home-featured-content",
  "settings": [
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "default": "image-height",
      "options": [
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        },
        {
          "value": "image-height",
          "label": "Image height"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "info": "Adjust the focal point of the image. Note: This setting only makes an impact if you've set your section height to fullscreen.",
      "default": "center-center",
      "options": [
        {
          "label": "Top left",
          "value": "top-left"
        },
        {
          "label": "Top center",
          "value": "top-center"
        },
        {
          "label": "Top right",
          "value": "top-right"
        },
        {
          "label": "Center left",
          "value": "center-left"
        },
        {
          "label": "Center",
          "value": "center-center"
        },
        {
          "label": "Center right",
          "value": "center-right"
        },
        {
          "label": "Bottom left",
          "value": "bottom-left"
        },
        {
          "label": "Bottom center",
          "value": "bottom-center"
        },
        {
          "label": "Bottom right",
          "value": "bottom-right"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "onboarding": {
        "title": "Your featured content",
        "no_content": "This section doesn’t currently include any content. Add content to this section using the sidebar."
      }
    }
  },
  "presets": [
    {
      "category": "Text",
      "name": "Rich text",
      "settings": {
        "section_height": "image-height",
        "heading": "",
        "content": "",
        "link_text": "",
        "link_url": "",
        "image_position": "center-center"
      }
    }
  ]
}

{% endschema %}