{% assign product = all_products[section.settings.product] %}

{% if product.empty? %}
  {%- assign section_onboarding = true -%}
{% endif %}

{% assign section_has_image = false %}
{% if section.settings.image %}
  {% assign section_image = section.settings.image | img_url: '2048x2048' %}
  {% assign section_image_alt = section.settings.image.alt | escape %}
  {% assign section_has_image = true %}
{% elsif section_onboarding %}
  {% capture section_image %}{%- include 'placeholder_svg_uri', placeholder: 'product-1' -%}{% endcapture %}
{% elsif product.featured_image %}
  {% assign section_image = product | img_url: '2048x2048' %}
  {% assign section_image_alt = product.featured_image.alt | escape %}
  {% assign section_has_image = true %}
{% endif %}

{%- capture section_classes -%}
  home-section
  home-section-height-{{ section.settings.section_height }}
  home-image-crop-{{ section.settings.image_position }}
  {% if section_onboarding %}home-section-onboarding{% endif %}
  {% unless section_has_image %}home-section-content-only{% endunless %}
{%- endcapture -%}

<section
  class="{{ section_classes | strip_newlines }}"
  data-home-section
  style="background-image: url('{{ section_image }}')">

  <div class="home-section-content" data-home-section-content>
    {% if product.collections %}
      <span class="home-section-subtitle">
        {{ product.collections.first.title }}
      </span>
    {% endif %}

    <h1 class="home-section-title">
      {% if section_onboarding %}
        {{ 'onboarding.title' | t }}
      {% else %}
        <a href="{{ product.url | within: product.collections.first }}">{{ product.title }}</a>
      {% endif %}
    </h1>

    <p class="home-section-text">
      {% if section_onboarding %}
        <span data-money>{{ '1999' | money }}</span>
      {% else %}
        {% if product.price_varies %}{{ 'products.product.from' | t }}{% endif %}
        <span data-money>{{ product.price_min | money }}</span>
      {% endif %}
    </p>

    <a class="home-section-link" href="{{ product.url | within: product.collections.first }}">
      {{ 'view_product' | t }}
      {%- include 'icon-arrow-right' -%}
    </a>
  </div>

  {% if section_image %}
    <img class="home-section-image" src="{{ section_image }}" alt="{{ section_image_alt }}">
  {% endif %}
</section>

{% schema %}
{
  "name": "Featured product",
  "class": "home-featured-product",
  "settings": [
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "default": "image-height",
      "options": [
        {
          "value": "fullscreen",
          "label": "Fullscreen"
        },
        {
          "value": "image-height",
          "label": "Image height"
        }
      ]
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image override",
      "info": "Alternate image (optional)"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "info": "Adjust the focal point of the image. Note: This setting only makes an impact if you've set your section height to fullscreen.",
      "default": "center-center",
      "options": [
        {
          "label": "Top left",
          "value": "top-left"
        },
        {
          "label": "Top center",
          "value": "top-center"
        },
        {
          "label": "Top right",
          "value": "top-right"
        },
        {
          "label": "Center left",
          "value": "center-left"
        },
        {
          "label": "Center",
          "value": "center-center"
        },
        {
          "label": "Center right",
          "value": "center-right"
        },
        {
          "label": "Bottom left",
          "value": "bottom-left"
        },
        {
          "label": "Bottom center",
          "value": "bottom-center"
        },
        {
          "label": "Bottom right",
          "value": "bottom-right"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "view_product": "View product",
      "onboarding": {
        "title": "Your product's name"
      }
    }
  },
  "presets": [
    {
      "category": "Product",
      "name": "Featured product",
      "settings": {
        "section_height": "image-height",
        "image_position": "center-center"
      }
    }
  ]
}

{% endschema %}