<section class="lookbook {% include 'collection-color' %}">
  {% include 'collection-item-block',
    block_tag: 'div',
    first_product: false,
    link_collection: false,
    show_description: section.settings.show_description
  %}

  {% if collection.all_tags.size > 0 and section.settings.enable_tag_filtering %}
    {% include 'tags-list' with collection %}
  {% endif %}

  {% paginate collection.products by section.settings.products_per_page %}

    {% assign last_size = -1 %}

    {% for product in collection.products %}
      {% assign lookbook_size = product.images | size %}
      {% assign lookbook_type = 'grid' %}

      {% if lookbook_size > 6 %}
        {% assign lookbook_type = 'slider' %}
      {% endif %}

      {% if last_size == lookbook_size %}
        {% assign lookbook_template = 'lookbook-layout-' | append: lookbook_size | append: '-alt' %}
        {% assign last_size = -1 %}
      {% else %}
        {% assign lookbook_template = 'lookbook-layout-' | append: lookbook_size %}
        {% assign last_size = lookbook_size %}
      {% endif %}

      {% if lookbook_type == 'slider' %}
        {% assign lookbook_template = 'lookbook-layout-slider' %}
      {% endif %}

      {% include lookbook_template %}
    {% endfor %}

    {% include 'pagination' %}
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Lookbook pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_tag_filtering",
      "label": "Enable tag filtering"
    },
    {
      "type": "select",
      "id": "products_per_page",
      "label": "Products per page",
      "options": [
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "32",
          "label": "32"
        }
      ],
      "default": "12"
    }
  ]
}

{% endschema %}