<header class="search-header">
  <div class="search-header-details">
    <h1 class="page-title">{{ 'general.search.header' | t }}</h1>

    <form class="input-wrapper inline-input-button-wrapper" action="/search">
      <input type="hidden" name="type" value="product">

      <input
        class="button"
        type="submit"
        value="{{ 'general.search.submit' | t }}">

      <div class="inline-input-wrapper">
        <input
          class="input-field"
          name="q"
          type="search"
          data-search-input
          value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.search_placeholder' | t }}"
          aria-label="{{ 'general.search.search_placeholder' | t }}">
      </div>

    </form>
  </div>
</header>

{% if search.performed %}
  <div class="collection-listing">
    {% paginate search.results by section.settings.products_per_page %}
      {% assign row_helpers = 'rows-of-3' %}
      {% assign remainder_on_3 = search.results.size | modulo: 3 %}
      {% unless remainder_on_3 == 0 %}
        {% assign row_helpers = row_helpers | append: " remainder-on-3" %}
      {% endunless %}

      {% capture product_crop %}product-crop-{{ section.settings.product_aspect_ratio }}{% endcapture %}

      <div class="collection-products product-list {{ product_crop }} {{ row_helpers }}">
        {% for product in search.results %}
          {% include 'product-list-item', item: product %}
        {% else %}
          <p class="empty">
            {{ 'general.search.no_results' | t: search_terms: search.terms }}
          </p>
        {% endfor %}
      </div>

      {% include 'pagination' %}
    {% endpaginate %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Search page",
  "settings": [
    {
      "type": "select",
      "id": "products_per_page",
      "label": "Products per page",
      "options": [
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "24",
          "label": "24"
        }
      ],
      "default": "24"
    },
    {
      "type": "select",
      "id": "product_aspect_ratio",
      "label": "Product aspect ratio",
      "options": [
        {
          "value": "original",
          "label": "Original"
        },
        {
          "value": "short",
          "label": "Short"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "tall",
          "label": "Tall"
        }
      ],
      "default": "tall"
    }
  ]
}

{% endschema %}