{% if section.settings.image %}
  <img
    src="{{ section.settings.image | img_url: '800x' }}"
    alt="{{ section.settings.image.alt | escape }}">
{% endif %}
{% schema %}
{
  "name": "Featured image",
  "class": "page-featured-image",
  "settings": [
    {
      "type": "paragraph",
      "content": "Featured image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}

{% endschema %}