{% assign using_linklist = false %}
{% if linklists['all-collections'] and linklists['all-collections'].links.size > 0 %}
  {% assign using_linklist = true %}
{% endif %}

<div class="collections-list">
  {% if using_linklist %}
    {% for link in linklists['all-collections'].links %}
      {% assign collection = link.object %}
      {% include 'collection-item-block',
        first_product: true,
        show_description: section.settings.show_description
      %}
    {% endfor %}
  {% else %}
    {% for collection in collections %}
      {% include 'collection-item-block',
        first_product: true,
        show_description: section.settings.show_description
      %}
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Collections page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show descriptions",
      "default": true
    }
  ]
}

{% endschema %}