{% assign parent = product %}
{% assign parent_collection = collection %}

<div class="product-sidebar"></div>

<div
  data-product-list
  {% if collection.products_count < 2 %}class="product-list-single"{% endif %}>

  {% include 'product', show_pagination: false %}
  {% include 'product-rack', parent_collection: parent_collection, parent: parent, limit: 20 %}
</div>

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_related",
      "label": "Enable related products"
    },
    {
      "type": "header",
      "content": "Sharing"
    },
    {
      "type": "checkbox",
      "id": "share_widget_facebook",
      "label": "Share on Facebook"
    },
    {
      "type": "checkbox",
      "id": "share_widget_twitter",
      "label": "Tweet on Twitter"
    },
    {
      "type": "checkbox",
      "id": "share_widget_pinterest",
      "label": "Pin on Pinterest"
    },
    {
      "type": "checkbox",
      "id": "share_widget_fancy",
      "label": "Add to Fancy"
    },
    {
      "type": "checkbox",
      "id": "share_widget_google_plus",
      "label": "+1 on Google Plus"
    },
    {
      "type": "checkbox",
      "id": "share_widget_email",
      "label": "Send as an e-mail"
    }
  ]
}

{% endschema %}