@font-face {
  font-family: 'FS Elliot';
  src: url('FSElliotWeb-Regular.woff2') format('woff2'),
       url('FSElliotWeb-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'FS Elliot';
  src: url('FSElliotWeb-Bold.woff2') format('woff2'),
       url('FSElliotWeb-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'FS Pimlico';
  src: url('FSPimlicoWeb-Italic.woff2') format('woff2'),
       url('FSPimlicoWeb-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
