<div class="password-wrapper">
  <main class="password-body">
    <div class="password-content">
      <h1 class="password-page-title page-title">
        {{ 'general.password_page.opening_soon' | t}}
      </h1>

      {% unless shop.password_message == blank %}
        <p class="password-page-message">
          {{ shop.password_message }}
        </p>
      {% endunless %}

      {% include 'password-newsletter' %}

      {% include 'share-buttons' %}

      <div class="password-modal-prompt">
        <a class="password-modal-link" href="#" data-password-modal-open>
          {%- include 'icon-lock' -%}
          <span>
            {{ 'general.password_page.password_link' | t}}
          </span>
        </a>

        {% include 'password-login' %}
      </div>
    </div>
  </main>

  <footer class="password-footer">
    {% include 'footer-copyright' %}
  </footer>
</div>

{% include 'modal', modal_instance: 'password' %}
